@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap");

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 80%;
  max-width: 1200px;
}

.mx-auto {
  margin: 0 auto;
}

header {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}

.text-right{
  text-align: right;
}

