@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap");

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  color: white;
}

nav h1 {
  font-family: "Sansita Swashed", cursive;
  font-size: 3rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style: none;
  margin-right: 1.5rem;
  font-size: 1.2rem;
}

footer{
  padding: 1rem 0;
  text-align: center;
  font-size:1.2rem;
  color: #fff;
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}
